*.class
*.jar
*.war
*.ear
*.nar
build/
dist/
target/
.gradle/
bin/
out/
nbproject/private/
nbproject/project.properties.gen
nbactions.xml
nb-configuration.xml
.nb-gradle/
*.log
log/
tmp/
temp/
.classpath
.project
.settings/
